.main
{
    background-color: white;
    display: inline;
    
}

#box1{
    background-color: black;
    width: 100px;
    height: 100px;
    display: inline-block;
}

#box2{
    background-color: red;
    width: 100px;
    height: 100px;
    display: inline-block;

}

#hi{
    background-color: yellow;
    display: inline;

}

#bye{
    background-color: red;
    display: inline;

    
}



